<form action="/" method="POST">
  <div class="form-floating mb-2">
    <input id="input-url" type="url" class="form-control" name="url" placeholder="url" required>
    <label for="input-url">Input URL here</label>
  </div>
  <button type="submit" class="btn btn-outline-primary w-50 my-3">Shorten</button>
</form>
