<form action="/" method="POST">
  <div class="form-floating mb-2">
    <input type="text" id="url" class="form-control" name="url" placeholder="url" required>
    <label for="url">Input URL here</label>
  </div>
  <button type="submit" class="btn btn-outline-primary w-50 my-3">Shorten</button>
</form>
